body {
    font-family: 'Montserrat', sans-serif; 
    color: #283538;
}

h1 {
    font-family: 'Redressed', cursive;
    font-size: 5em;
    color: #CCBE29;
}

h2{
    font-size: 2.5em;
}

.Bari {
    width: 200px;
    border: 4px solid #CCBE29;
    border-radius: 100px;
}

img {
    width: 350px;
}

a {
    color: #CCBE29;
}

.Omne {
    background-color: #D9D4A5;
}