body {
    font-family: 'Montserrat', sans-serif; 
    color: #283538;
    line-height: 1.8;
    margin: 0;
}

h1 {
    font-size: 4.5em;
    color: #CCBE29;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 0;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
}

h3 {
    margin-top: 30px;
    clear: right;
}

.Bari {
    width: 150px;
    border: 4px solid #CCBE29;
    border-radius: 40px;
    float: left;
    margin-right: 400px;
    margin-left: 0;
    float: right;
}

img {
    width: 350px;
    border-radius: 20px;
    border: 4px solid #D9D4A5;
}

.Kontakty a {
    color: white;
}

.Omne {
    background-color: #D9D4A5;
    padding-bottom: 0;
}

.Omne img {
    border: 4px solid #D9D4A5;
    width: 23%;
    border-radius: 20px;
    margin-top: 30px;    
}

.Zkusenosti img {
    float: left;
    margin: 0 30px 30px 0;
}

.Zajmy img {
    float: right;
    margin: 0 0 30px 30px;
}

.Omne {
    padding: 60px 15% 0 15%;
}

.Zkusenosti,
.Znalosti,
.Zajmy,
.Kontakty,
.Paticka {
    padding: 60px 15% 60px 15%;
    overflow: auto;
}


.Znalosti {
    background-color: #D5CC6A;
}

.Kontakty {
    background-color: #D9D4A5;
}

.Paticka {
    background-color: #283538;
    color: white;
}

.Kontakty p {
    text-align: center;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #D9D4A5;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #283538;
    text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: #283538;
    color: white;
}

.Omne {
    padding-top: 40px;
    padding-bottom: 0;
}

